[submodule "public"]
	path = public
	url = https://github.com/Naem-J/Naem-J.github.io.git
	branch = master
[submodule "Naem-J.github.io"]
	path = Naem-J.github.io
	url = https://github.com/Naem-J/Naem-J.github.io.git
	branch = master
